* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFB830;
}

.container{
    width: 70vw;
    height: 60vh;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 15vw;
    top: 20vh;
}

@media screen and (max-width: 800px) {
}

.top-nav{
    width: 100%;
    height: 70px;
    background-color: red;
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    justify-content: space-evenly;
}

.select{
    border: 0;
    outline: 0;
    height: 50%;
    width: 30%;
    font-size: 30px;
    position: relative;
    top: 17px;
}

.select-option{
    border: 0;
    outline: 0;
    height: 50px;
    font-size: 30px;
}

.textarea{
    width: 50%;
    height: 50%;
    border: 1px solid gray;
    outline: 0;
}

.array-output{
    position: absolute;
    left: 50%;
    font-size: 30px;
}

.button{
    width: 300px;
    height: 100px;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: #5089C6;
    position: relative;
    font-family: sans-serif;

    position: absolute;
    left: calc((100% - 300px) / 2);
    top: 330px;

    user-select: none;
}

.button-text{
    position: relative;
    top: 25px;
}

.inputs-parent{
    width: 50%;
    height: calc(50% - 50px);
    position: absolute;
    top: 120px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.array-input{
    width: 50%;
    height: 50px;
    outline: 0;
    position: absolute;
}

.input-element{
    width: 90%;
    height: 40px;
    background-color: #3DB2FF;
    position: relative;
    left: 5%;
    top: 5px;
    flex: 0 0 auto;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 30px;
}

.input-element-text{
    color: white;
    position: absolute;
    left: 10px;
}

.input-element-text::selection{
    color: white;
    background-color: #222832;
}

.input-element-delete-button{
    color: red;
    position: absolute;
    right: 10px;
    top: 2px;
    user-select: none;
}